html {
  font-size:62.5%;
}

body {
  background-size:cover;
  background-color:#fff;
  text-align:center;
  font-family:'Quicksand', sans-serif;
}

/*heading*/
.heading {
  margin:30px 0 15px;
  font-size:4rem;
  letter-spacing:1px;
  color:#333;
}

.heading-contact{
  margin:30px 0 15px;
  font-size:4rem;
  letter-spacing:1px;
  color:#fff;
  font-family:'Quicksand', sans-serif;
}

/*title*/
.title {
  position:relative;
}

.site-title {
  position:absolute;
  color:white;
  font-size:7.6rem;
  top:35%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.buttons {
  position:absolute;
  white-space:nowrap;
  font-size:3rem;
  top:65%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.button {
  display:inline-block;
  padding:10px;
  background-color:transparent;
  color:#fff;
  text-decoration:none;
  letter-spacing:1px;
}

.button:hover {
  background-color:rgba(255,255,255,.2);
}

.buttons .button {
  margin:40px;
}

/*profile*/
.profile {
  padding:90px 30px;
  background-color:#fff;
}

.profile-text {
  margin:30px 0 30px;
  color:#333;
  font-size:2rem;
}

.svg {
  margin-top:20px;
  text-align:center;
}

/*work*/
.works {
  padding:80px 30px;
}

.works-wrapper {
  display:table;
  width:100%;
  margin-top:60px;
  table-layout:fixed;
}

.work-box {
  display:table-cell;
}

.work-image {
  display:block;
  width:100%;
}

.work-text {
  margin:60px 20px 40px;
  font-size:2rem;
  word-break:break-all;
}

.url {
  word-break:break-all;
}

/*contact*/
.contact {
  padding:80px 40px;
  background-color:#333;
}

.mailaddress {
  display:inline-block;
  background-color:rgba(255,255,255,.2);
  padding:20px;
  margin-top:30px;
  font-size:3rem;
  color:#fff;
}

/*footer*/
.footer {
  background-color:#333;
  color:#fff;
  font-size:1.2rem;
}

li {
  list-style:none;
  display:inline-block;
  margin:25px;
}

* {
  margin:0px;
  padding:0px;
}

/*smart phone*/
@media (max-width: 768px) {
  .site-title {
    white-space:nowrap;
    font-size:6vw;
  }

  .buttons {
    font-size:3vw;
  }

  .buttons .button {
    margin:10px;
  }

  .title-img {
    max-width:100%;
    height:auto;
  }

  .heading-contact,.heading{
    font-size:2.5rem;
  }

  .profile-text {
    font-size:1.3rem;
  }

  .work-text {
    font-size:1.3rem;
  }

  .works-wrapper,
  .work-box {
    display:block;
  }

  .mailaddress {
    font-size:2rem;
  }
}
