body {
  background-size: cover;
  background-color: #fff;
  text-align: center;
  font-size:1.4rem;
  font-family:Ralewey,"Hiragino kaku Gothic ProN",Meiryo,sans-serif;
}

.title-img {
  position: relative;
  width:100vw;
}

.site-title {
  position: absolute;
  color: white;
  font-size: 7.6rem;
  top: 25%;
  left: 25%;
}

.buttons {
  position: absolute;
  font-size: 30px;
  font-align:center;
  top: 60%;
  left:10%;
}

.button {
  display: :inline-block;
  padding:10px;
  background-color:transparent;
  color: #fff;
  text-decoration: none;
  letter-spacing:1px;
}

.button:hover {
  background-color:rgba(255,255,255,.2);
}

.buttons .button {
  margin:100px;
}

.profile {
  padding:90px 30px;
  background-color:#fff;
}

.heading {
  margin: :30px 0 15px;
  font-size: 4rem;
  letter-spacing:1px;
  color:#333;
}

.heading-contact{
  margin: :30px 0 15px;
  font-size: 4rem;
  letter-spacing:1px;
  color:#fff;
}

.profile-text {
  margin: 30px 0 30px;
  color: #333;
}

.svg {
  margin-top: 20px;
  text-align:center;
}

.works {
  padding:80px 30px;
}

.works-wrapper,
.work-box {
  display:block;
}

.work-box {
  position:relative;
  display:table-cell;
}

.works-wrapper {
  display:table;
  width:100%;
  margin-top: 60px;
  table-layout:fixed;
}

.work-image {
  display: block;
  width:100%;
}

.work-text {
  margin: 60px 0 40px;
}

.contact {
  padding:80px 40px;
  background-color:#333;
}

.mailaddress {
  display: inline-block;
  background-color:rgba(255,255,255,.2);
  padding:20px;
  margin-top: 30px;
  font-size: 3.5rem;
  color:#fff;
}

.footer {
  padding:12px 0;
  font-size:1.3rem;
}

li {
  list-style: none;
  display: inline-block;
  margin: 25px;
}

* {
  margin: 0px;
  padding: 0px;
}

@media(max-width:768px) {
}
