html {
  font-size: 62.5%;
}

body {
  background-size: cover;
  background-color: #fff;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

/*heading*/
.heading {
  margin: :30px 0 15px;
  font-size: 4rem;
  letter-spacing:1px;
  color:#333;
}

.heading-contact{
  margin: :30px 0 15px;
  font-size: 4rem;
  letter-spacing:1px;
  color:#fff;
  font-family: 'Quicksand', sans-serif;
}

/*title*/
.title {
  position: relative;
}

.site-title {
  position: absolute;
  color: white;
  font-size: 7.6rem;
  top: 25%;
  left: 25%;
}

.buttons {
  position: absolute;
  white-space: nowrap;
  font-size: 3rem;
  top: 60%;
  left:25%;
}

.button {
  display: :inline-block;
  padding:10px;
  background-color:transparent;
  color: #fff;
  text-decoration: none;
  letter-spacing:1px;
}

.button:hover {
  background-color:rgba(255,255,255,.2);
}

.buttons .button {
  margin:40px;
}

/*profile*/
.profile {
  padding:90px 30px;
  background-color:#fff;
}

.profile-text {
  margin: 30px 0 30px;
  color: #333;
  font-size: 2rem;
}

.svg {
  margin-top: 20px;
  text-align:center;
}

/*work*/
.works {
  padding:80px 30px;
}

.works-wrapper {
  display:table;
  width:100%;
  margin-top: 60px;
  table-layout:fixed;
}

.work-box {
  display:table-cell;
}

.work-image {
  display: block;
  width:100%;
}

.work-text {
  margin: 60px 0 40px;
  font-size:2rem;
}

/*contact*/
.contact {
  padding:80px 40px;
  background-color:#333;
}

.mailaddress {
  display: inline-block;
  background-color:rgba(255,255,255,.2);
  padding:20px;
  margin-top: 30px;
  font-size: 3rem;
  color:#fff;
}

/*footer*/
.footer {
  background-color: #333;
  color:#fff;
  font-size: 1.2rem;
}

li {
  list-style: none;
  display: inline-block;
  margin: 25px;
}

* {
  margin: 0px;
  padding: 0px;
}

/*smart phone*/
@media (max-width: 768px) {
  title-img {
    width:;
  }
}
